<!DOCTYPE html>
<html>
  <head>
    <title>My first Vue app</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <h1 class="bg-secondary text-white display-4 px-3">Vue3</h1>
    <div id="app" class="container">
      <p>{{ message }}</p>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>mail</th>
            <th>tel</th>
          </tr>
        </thead>
        <template v-for="(item, index) in items">
          <template v-if="index % 2 == 0">
            <tr>
              <td>{{ index }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.mail }}</td>
              <td>{{ item.tel }}</td>
            </tr>
          </template>
          <template v-else>
            <tr>
              <td>***</td>
              <td>***非公開***</td>
              <td>***非公開***</td>
              <td>***非公開***</td>
            </tr>
          </template>
        </template>
      </table>
    </div>

    <script>
      const appdata = {
        data() {
          return {
            message: "※データをテーブルで表示する",
            items: [
              { name: "Taro", mail: "taro@yamada", tel: "999-999" },
              { name: "Hanako", mail: "hanako@flower", tel: "888-888" },
              { name: "Sachiko", mail: "sachiko@happu", tel: "777-777" },
              { name: "Jiro", mail: "jiro@change", tel: "666-666" },
            ],
          };
        },
        mounted() {
          setInterval(() => {
            this.flag = !this.flag;
          }, 10000);
        },
      };

      let app = Vue.createApp(appdata);
      app.mount("#app");
    </script>
  </body>
</html>
